---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title custom-font-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc custom-font-subtitle">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
            
            {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
            {%- endif %}

          </div>
          {%- endif %}

          <div class="clearfix custom-font">
            {{ content }}
          </div>
          
          <div class="two-column-block">
            <div class="education-column">
              <h2>Education</h2>
              <ul class="education-list custom-font">
                <ul class="education-list">
                  <li>
                    Ph.D. in Astronomy, University of Padua
                    <span class="date">2024</span>
                  </li>
                  <li>
                    M.Sc. in Astrophysics, University of Trieste
                    <span class="date">2020</span>
                  </li>
                  <li>
                    B.Sc. in Physics, University of Trieste
                    <span class="date">2018</span>
                  </li>
                </ul>
                
              </ul>
            </div>
            <div class="interests-column">
              <h2>Keywords of Interest</h2>
              <ul class="interests-list custom-font">
                <li>Machine Learning</li>
                <li>Open Clusters</li>
                <li>Galactic Archaeology</li>
                <li>Chemical Evolution</li>
                <li>Stellar Evolution</li>
              </ul>
            </div>
          </div>
          
         
          
          <!-- Download buttons section -->
          <div class="buttons" style="display: flex; gap: 10px;">
            <a href="assets/pdf/CV_Academic_Lorenzo_Cavallo.pdf" class="btn">
              <i class="fas fa-download"></i> Academic CV
            </a>
            <a href="assets/pdf/resume_Lorenzo_Cavallo.pdf" class="btn">
              <i class="fas fa-download"></i> Resumé
            </a>
          </div>
          
          <div class="divider"></div>

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
